.header-info , .wallet-form, .table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.header-info {
  margin-top: 20px;
}

.wallet-form, .table {
  margin-top: 80px;
}

.table {
  flex-direction: column;
}

.logout, .heading-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.filters-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 20%;
}
