.header-info , .wallet-form, .table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.header-info {
  margin-top: 20px;
  width: 100%;
  max-width: 80%;
}

.wallet-form, .table {
  margin-top: 80px;
}

@media screen and (max-width: 960px) {
  .wallet-form {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .header-currency {
    display: none;
  }
  .heading-form {
    flex-direction: column;
  }

 
}

.table {
  flex-direction: column;
}

.logout, .heading-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.filters-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 20%;
}

@media screen and (max-width: 1200px){
  .filters-form {
    max-width: 30%;
  }
}

@media screen and (max-width: 960px) {
  .filters-form {
    max-width: 40%;
  }
}


@media screen and (max-width: 480px) {
  .filters-form {
    max-width: 60%;
  }
}

